* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

#root {
	padding: 16px;
}